.card {
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.25rem;
    flex-wrap: wrap;
    gap: 0.625rem;
    display: flex;
    justify-content: center;
}